html {
    height: 100%;
    width: 100%;
  }
body {background-color: #95d8f9;}

  
.nav{
    background-color: #336683;
    padding: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ai {
  
    animation: fadeIn 5s backwards;
}

